<%- include('../partials/header') %>
<form action="/cocktails" method="POST">
    <label>Cocktail Name:
        <input type="text" name="name">
    </label><br>
    <label>Proper Glass:
        <input type="text" name="glassType">
    </label><br>
    <label>Ingredients (separate by commas):
        <input type="text" name="ingredients">
        Measurments (separate by commas, in same order as ingredients):
        <input type="text" name="measurements">
    </label><br>
    <label>Instructions:
        <input type="text" name="instructions">
    </label><br>
    <label>Photo Link:
        <input type="text" name="photo">
    </label><br>
    <input type="submit" value="Add Cocktail">
</form>

<%- include('../partials/footer') %>