<%- include('../partials/header') %>
<h3>As defined by the Oxford English Dictionary: </h3><br>
<h4>Mixology:</h4> <br>
<h5>Pronunciation: /ˌmikˈsäləjē/ /ˌmɪkˈsɑlədʒi/</h5><br>
<h5>Definition: Noun; The skill of mixing cocktails and other drinks. </h5><br><br><br>
<h4>Cocktail:</h4><br>
<h5>Pronunciation: /ˈkäkˌtāl/ /ˈkɑkˌteɪl/</h5><br>
<h5>Definition: An alcoholic drink consisting of a spirit or several spirits mixed with other ingredients, such as fruit
    juice, lemonade, or cream.</h5>
<%- include('../partials/footer') %>